body{
  background: #333;
  color: #fff;
}

.navbar{
  border-bottom: #008ed6 3px solid;
  opacity:0.8;
}

#home-section{
  background: url('../src/img/home.jpg');
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed;
}

.dark-overlay{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height:700px;
}

.home-inner{
  padding-top: 150px;
}

.card-form{
  opacity: 0.8;
}

.fa {
  color: black;
  background: white;
  padding: 4px;
  border-radius: 5px;
  font-size: 3px;
}

#explore-section .fa{

    color: white;
    background: black;
    padding: 4px;
    border-radius: 5px;

}

#share-section .fa{
  color: white;
  background: black;
  padding: 4px;
  border-radius: 5px;

}
